@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lato:wght@400;700&display=swap");

/* Base */
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none !important;
}
body {
  color: #111;
  scroll-behavior: smooth;
  background: #fff;
  font-family: "Lato", Roboto, sans-serif;
}
a {
  color: #27a857;
  text-decoration: none;
}
img {
  max-width: 100%;
}
p {
  margin: 0;
}
button:focus,
.btn:focus,
select:focus,
input:focus {
  border-color: #27a857 !important;
  box-shadow: 0 0 0 2px rgba(38, 168, 86, 0.2) !important;
}

/* Helper Classes */
._flex {
  display: flex;
  align-items: center;
}
._flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
._grid {
  display: grid;
  align-items: center;
}
._hide {
  display: none;
}
.nonScroll {
  overflow: hidden;
}

/* App */
.sidebar {
  width: 50%;
  height: 100vh;
  max-width: 250px;
  padding: 16px;
  position: sticky;
  top: 0;
}
.sheader {
  margin-top: 6px;
  margin-bottom: 4rem;
}

.sidebar .nav_item.active {
  background: #ffffff;
  border: 1px solid #efeeeb;
  box-shadow: 0px 28px 68px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}
.sidebar .nav_item.active a {
  color: #27a857;
}
.sidebar .nav_item {
  padding: 12px 18px;
  margin-bottom: 16px;
}
.sidebar .nav_item a {
  color: #000000;
  font-weight: bold;
}
.sidebar .nav_item span {
  margin-left: 18px;
  /* width: 22px; */
}
.sfooter {
  position: absolute;
  bottom: 20px;
  width: 90%;
}

/* Main */
.header {
  margin-bottom: 3rem;
}
main h2 {
  font-size: 30px;
  font-weight: 700;
  padding: 12px;
}
.searchForm .sIcon {
  position: absolute;
  right: 22px;
  padding: 13px 0;
  z-index: 99;
}
.searchForm {
  position: relative;
  margin-right: 18px;
}
.searchForm input {
  width: 270px;
  padding: 10px 24px;
  background: #ecf0f3;
  border: none;
  border-radius: 22px;
}
.notifyBtn img {
  width: 28px;
  margin: auto;
  display: block;
}
.notifyBtn {
  padding: 8px;
  background: rgba(235, 235, 235, 0.4);
  border-radius: 15px;
}
.btn-success {
  background: #27a857 !important;
  border: 1px solid #27a857 !important;
}
/* Container */
.searchCollateral .btn {
  margin: 10px;
  position: absolute;
  right: 8px;
  left: unset;
  padding: 6px 36px;
  border-radius: 10px !important;
  z-index: 99;
}
.searchCollateral input {
  padding: 16px 22px;
  padding-left: 48px;
  border: 1px solid #d0d5dd;
  border-radius: 8px !important;
}
.searchCollateral img.sIcon {
  position: absolute;
  left: 0;
  z-index: 99;
  padding: 20px 14px;
}
.searchCollateral {
  width: 100%;
}
.collateralForm select,
.collateralForm input {
  border: 1px solid #cbcbd4;
  border-radius: 10px;
  padding: 12px 20px;
  font-weight: bold;
  color: #111;
}
.collateralForm form {
  max-width: 680px;
}
.collateralForm label {
  color: #666666;
  font-weight: 400;
}
.collateralForm button {
  padding: 10px 20px;
  border-radius: 10px;
}
/* Modal */
.modal-content select,
.modal-content input {
  border: 0;
  background-color: #fafbfc !important;
  border-radius: 10px;
  padding: 12px 20px;
}
.modal-content label {
  color: #a2a7b1;
  font-weight: 400;
}
.modal-content .btn {
  width: 47%;
  padding: 10px;
  border-radius: 10px;
}
.modal-content {
  padding: 2.5rem 6px;
  border: 0;
  border-radius: 20px;
}

/* OTP */
#otp {
  text-align: center;
}
#otp label {
  font-size: 22px;
  margin-bottom: 20px;
}
.digit-group input {
  width: 48px;
  height: 50px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 0.6px 2px rgba(16, 24, 40, 0.05);
  border-radius: 6px;
  line-height: 50px;
  font-size: 24px;
  color: #d0d5dd;
  text-align: center;
  padding: 0;
  margin: 0 8px;
}
.digit-group .splitter {
  color: #d0d5dd;
  padding: 0 12px;
  font-size: 24px;
}

/*  */
table.table h6 {
  color: #101828;
  font-size: 15px;
}
table.table {
  color: #667085;
  font-size: 15px;
  margin: 5rem 0;
  border-radius: 6px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #eaecf0;
  font-family: "Inter", sans-serif;
}
table.table th:first-child {
  padding-left: 18px !important;
}
table.table td,
table.table th {
  vertical-align: middle;
  padding: 15px 8px !important;
}
table.table th {
  text-transform: capitalize;
  border-bottom: 1px solid #eaecf0 !important;
  font-size: 15px;
  font-weight: 500;
}
.table span {
  font-size: 14px;
}
.table .badge {
  padding: 5px 16px;
  border-radius: 16px;
  font-weight: 500;
}
.pagination .page-link.active {
  color: #344054;
  background: #f9f5ff;
}
.pagination .page-link b {
  font-size: 30px;
  position: relative;
  top: -21px;
  padding: 8px;
}
.page-item .page-link.pbtn {
  color: #344054;
  max-height: 42px;
  margin: 0 5px;
}
.pagination .page-link {
  color: #667085;
  display: flex;
  padding: 8px 14px;
  margin: 0 8px;
  border-radius: 8px !important;
  font-weight: 500;
}

/*  */
/* Responsive CSS */
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 992px) {
}
